.range {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 200px;
    border-radius: 150px 150px 0 0;
    background-color: green;
    justify-content: center;
    align-items: end;
}

.address {
    width: 150px;
    text-align: center;
}

.parent {
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    background-color: beige;
    align-content: center;
}

.child {
    width: 20px;
    height: 20px;
    background-color: brown;
}